{% extends 'base_vip.html.twig' %}

{% block tittle %}
	<title>Modifier hebergement</title>
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Modifier Hebergeur</h1>

		{{ include('hebergeur/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

		{{ include('hebergeur/_delete_form.html.twig') }}
		<a href="{{ path('hebergeur_index') }}" class="style_ab">Revenir sur la liste</a>
	</div>

	<style>
		.container {
			font-size: 1.25em;
			margin-top: 2%;
		}

		.form {
			text-align: center;
			align-items: center;
			color: orange;
			font-weight: bold;
			font-size: 20px;
		}

		.form_start {
			justify-content: center;
			flex-direction: column;
			padding-bottom: 2%;
		}

		.style_ab {
			text-decoration: none;
			font-size: 30px;
			text-align: center;
			display: block;
			width: 20%;
			margin: 5% auto auto;
		}

		.style_ab:link {
			color: black;
		}

		.style_ab:visited {
			color: black;
		}

		.style_ab:focus {
			border-bottom: 1px solid;
			background: #BAE498;
		}

		.style_ab:hover {
			border-bottom: 1px solid;
			background: #D0D0D0;
		}

		.style_ab:active {
			background: #D0D0D0;
			color: #D0D0D0;
		}
	</style>
{% endblock %}
